services:
  mysql:
    image: mysql:8.0
    container_name: dw_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql/ddl:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
